In [2]:
%cd origin_page
!ls

/home/mobius/code/scrapy_for_zh_wiki/origin_page
'Angiosperm Catalog.csv'   has_viewed.npy

In [3]:
import pandas as pd

In [9]:
df = pd.read_csv('Angiosperm Catalog.csv', index_col=0)

In [10]:
df.head()

   layer     cat parent
0      0    被子植物    NaN
1      1  被子植物分支   被子植物
2      1       花   被子植物
3      1  真双子叶植物   被子植物
4      1  双子叶植物纲   被子植物

In [24]:
len(df), df['cat'].drop_duplicates().shape[0]

(4674, 4553)

In [25]:
dup = df[df['cat'].duplicated()]

In [26]:
dup.head()

     layer   cat parent
63       3    插花    花文化
82       4  金鱼藻属   金鱼藻科
104      4  龙舌兰科   天门冬目
109      4  中国市花  中国花文化
154      4    华道     插花

In [37]:
df[df['cat']=='龙舌兰科']

     layer   cat parent
102      4  龙舌兰科    百合目
104      4  龙舌兰科   天门冬目

In [43]:
mn_idx = df.groupby(['cat'])['layer'].idxmin()
refined_df = df.iloc[mn_idx].sort_index().sort_values(by=["layer","parent","cat"]).reindex()
refined_df.head()
len(refined_df)

4553

In [44]:
df.to_csv("Angiosperm Catalog Cleaned.csv")